#masthead
{
    height: 100vh;
    background-image:url('./bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.graphic-image
{
    width: 100%;
}

.skill-box{
    background-color: #F7F7F7;
    height: 50vh;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.hidden-text {
    display: none;
}

.hidden-text:hover {
    display: block;
}

#box0:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-image:url('./bg.png');
  color: white;
  
}

#box0:hover .hidden-text{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  display: block;
  color:white;
  text-decoration: none;
}

#box1:hover{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  background-color: #1cabb6;
  color: white;
}

#box2:hover{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #1cabb6;
    color: white;
}
  
#box3:hover{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #1cabb6;
    color: white;
}
  


#brand
{
    width: 150px;
}

.lead-sm
{
    font-size: 1rem;
    font-weight: 300;
}

#skills {
    background-color: #F7F7F7;
}

#myskills {
    background-color: #F7F7F7;
}

#brands ul li {
  display: inline;
  text-decoration: none;
  list-style-type: none;
}

.worked-brands li img{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.worked-brands li img:hover{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100px;
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 50px;
}

#contact {
    background-color: #166b72;
}

#footer  {
    height: 100%;
    background-color: #0c4145;
}


#footer  ul li  {
    text-decoration: none;
    list-style-type: none;
    display: inline;
}

#footer  ul li i  {
  color: white;
  font-size: 40px;
  margin: 10px;
}




/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  
    
}